/*
 * Made By Mubarek  2018
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

input[type="text"]:focus,select:focus, input[type="number"]:focus{
  border-color: #FF6F00
}
body{
  font-family: 'Roboto', sans-serif;
  background: radial-gradient(#fff176,#f57f17);
  min-height: 100%;
}
select{
    display:block;
    padding: 10px 20px;
    border-radius:3px;
    border: 1px solid #999;
    font-family:'Roboto', sans-serif;
    font-size:100%;
    margin-bottom: 20px;
    outline:none;
width:113%
}
input[type="text"], input[type="number"]{
    display:block;
    padding: 10px 20px;
    border-radius:3px;
    border: 1px solid #999;
    font-family:'Roboto', sans-serif;
    font-size:100%;
    margin-bottom: 20px;
    outline:none;
width:100%
}
.title{
    text-transform: uppercase;
    color: #ff8f00;
    text-align: center;
    margin-bottom:30px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size:24px;

}

.button{
    padding: 10px 20px;
    background: #e7e6ab;
    color:darkorange;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius:3px;
    display:inline-block;
}

.form-wrap{
    max-width:600px;
    margin: 50px auto;
}
.result{
    height:45px;
    background:#fff176;
    border-bottom: 1px solid #ccc;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form-header{
    height:45px;
    background: white;
    border-bottom: 1px solid #ccc;
    display:flex;
    justify-content: center;
    align-items: center;
}
.centered{
  text-align: center;
}
span{
    display:block;
    height: 12px;
    width: 12px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0,0,0,.4);
}
span.is-active{
    background: rgba(0,0,0,.4);
    background: #ff8f00;
}

.form-body{
    background:white;
    position:relative;

}

.contact{
  width: 65px;
  height: 40px;
  background: rgb(97, 197, 97);
  position: fixed;
  top:auto;
  bottom:0;
  LEFT:0;
}
.form-part{
    background: white;
    padding: 40px 100px;
    box-shadow:0px 50px 30px -30px rgba(0,0,0,.3);
    margin-bottom:50px;
    position:absolute;
    top:0;
    display:none;
    box-sizing:border-box;
width:100%;
    
}

.form-part.is-showing{
    display:block;
}

.progress{
    margin:50px;
}